<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <title>2023 Project</title>

    <!-- ====== Google Fonts ====== -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- ====== ALL CSS ====== -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/lightbox.min.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">

</head>

<body data-spy="scroll" data-target=".navbar-nav">

    <!-- ====== Header ====== -->
    <header id="header" class="header">
        <!-- ====== Navbar ====== -->
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <!-- Logo -->
                <a class="navbar-brand logo" href="index.html">
                    <img src="/assets/images/logo.png" alt="logo">
                </a>
                <!-- // Logo -->

                <!-- Mobile Menu -->
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-expanded="false"><span><i
                            class="fa fa-bars"></i></span></button>
                <!-- Mobile Menu -->

                <div class="collapse navbar-collapse main-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="/">HOME</a></li>
                        <li class="nav-item"><a class="nav-link" href="/app/auth/signup">REGISTER</a></li>
                        <li class="nav-item"><a class="nav-link" href="/app/auth/signin">LOGIN</a></li>

                        <!--  -->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- ====== // Navbar ====== -->
    </header>
    <!-- ====== // Header ====== -->

    <!-- ====== Hero Area ====== -->
    <div class="hero-aria" id="home">
        <!-- Hero Area Content -->
        <div class="container">
            <div class="hero-content h-100">
                <div class="d-table">
                    <div class="d-table-cell">
                        <h2 class="text-uppercase">MAZI OKWUDILI For</h2>
                        <h3 class="text-uppercase"><span class="typed"></span></h3>
                        <p>Join The Nigeria Project 2023 Now.</p>
                        <a href="/app/auth/signup" class="button smooth-scroll">REGISTER</a>
                        <a href="/app/auth/signin" class="button smooth-scroll">LOGIN</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Hero Area Content -->
        <!-- Hero Area Slider -->
        <div class="hero-area-slids owl-carousel">
            <div class="single-slider">
                <!-- Single Background -->
                <div class="slider-bg" style="background-image: url(/assets/images/hero-area/img-1.jpg)"></div>
                <!-- // Single Background -->
            </div>
            <div class="single-slider">
                <!-- Single Background -->
                <div class="slider-bg" style="background-image: url(/assets/images/hero-area/img-2.jpg)"></div>
                <!-- // Single Background -->
            </div>
            <div class="single-slider">
                <!-- Single Background -->
                <div class="slider-bg" style="background-image: url(/assets/images/hero-area/img-3.jpg)"></div>
                <!-- // Single Background -->
            </div>

        </div>
        <!-- // Hero Area Slider -->
    </div>
    <!-- ====== //Hero Area ====== -->

    <!-- ====== Featured Area ====== -->
    <section id="featured" class="section-padding pb-70">
        <div class="container">
            <div class="row">
                <!-- single featured item -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-featured-item-wrap">
                        <h3><a href="#">Jobs Availability</a></h3>
                        <div class="single-featured-item">
                            <div class="featured-icon">
                                <i class="fa fa-briefcase"></i>
                            </div>
                            <p>OVER 50Million Jobs Confirmed</p>
                        </div>
                    </div>
                </div>
                <!-- single featured item -->
                <!-- single featured item -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-featured-item-wrap">
                        <h3><a href="#">Educational Sector</a></h3>
                        <div class="single-featured-item">
                            <div class="featured-icon">
                                <i class="fa fa-home"></i>
                            </div>
                            <p>5 Star Educational Environment</p>
                        </div>
                    </div>
                </div>
                <!-- single featured item -->
                <!-- single featured item -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-featured-item-wrap">
                        <h3><a href="#">Pension Scheme</a></h3>
                        <div class="single-featured-item">
                            <div class="featured-icon">
                                <i class="fa fa-user"></i>
                            </div>
                            <p>Most Attractive Pension Program Confirmed</p>
                        </div>
                    </div>
                </div>
                <!-- single featured item -->
            </div>
        </div>
    </section>
    <!-- ====== //Featured Area ====== -->

    <!-- ====== About Area ====== -->
    <section id="about" class="section-padding about-area bg-light">
        <div class="container">
            <!-- Section Title -->
            <div class="row justify-content-center">
                <div class="col-lg-6 ">
                    <div class="section-title text-center">
                        <h2>About Me</h2>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus placeat unde non modi, facilis, quae?</p> -->
                    </div>
                </div>
            </div>
            <!-- //Section Title -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-bg" style="background-image:url(/assets/images/about-bg.jpg)">
                        <!-- Social Link -->
                        <div class="social-aria">
                            <a target="_blank" href="https://web.facebook.com/Presidential2023"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" href="https://www.instagram.com/thenigerianproject2023/"><i class="fab fa-instagram"></i></a>
                            <!-- <a target="_blank" href="#"><i class="fab fa-pinterest"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-youtube"></i></a> -->
                        </div>
                        <!-- // Social Link -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h2>Hello, I am <span>MAZI OKWUDILI
                            </span></h2>
                        <h4></h4>
                        <p>I seek a better, well structured and stronger nation because the state of this country has
                            been truly destroyed. As a result, we need a leader with good vision and he should be ready
                            to serve the people because true leadership is all about service to humanity. We cannot sit
                            back and be looking at our old leaders to reign this nation further because they are not
                            willing to bring a change to this nature.</p>

                        <section class="section-padding  bg-img fact-counter" id="counter"
                            style="background-image: url(/assets/images/fan-fact-bg.jpg)">
                            <div class="container">

                                <div class="row">

                                    <div class="col-lg-6  d-flex">
                                        <a href="/app/auth/signup" class="button">Register</a>
                                    </div>
                                    <div class="col-lg-6  d-flex ">
                                        <a href="/app/auth/signin" class="button">Login</a>
                                    </div>
                                </div>
                            </div>
                        </section>



                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====== // About Area ====== -->


    <!-- ====== Fact Counter Section ====== -->
    <!-- ====================================================================
            NOTE: You need to change  'data-count="10"' and 'p' Eliments 
        ===================================================================== -->

    <!-- ====== //Fact Counter Section ====== -->

    <!-- ====== Portfolio Section ====== -->
    <section id="portfolio" class="section-padding pb-85 portfolio-area bg-light">
        <div class="container">
            <!-- Section Title -->
            <div class="row justify-content-center">
                <div class="col-lg-6 ">
                    <div class="section-title text-center">
                        <h2>MAZI OKWUDILI Photos</h2>

                    </div>
                </div>
            </div>
            <!-- //Section Title -->
            <div class="row justify-content-center">
                <!-- Work List Menu-->
                <div class="col-lg-8">
                    <div class="work-list text-center">
                        <ul>
                            <li class="filter" class="active" data-filter="all">ALL</li>

                        </ul>
                    </div>
                </div>
                <!-- // Work List Menu -->
            </div>
            <div class="row portfolio">
                <!-- Single Portfolio -->
                <div class="col-lg-4 col-md-6 mix wp graphic">
                    <div class="single-portfolio" style="background-image: url(/assets/images/portfolio/img-1.jpg)">
                        <div class="portfolio-icon text-center">
                            <a data-lightbox='lightbox' href="/assets/images/portfolio/img-1.jpg"><i
                                    class="fas fa-expand-arrows-alt"></i></a>
                        </div>
                        <!-- <div class="portfolio-hover">
                            <h4>Project <span>Name</span></h4>
                        </div> -->
                    </div>
                </div>
                <!-- // Single Portfolio -->
                <!-- Single Portfolio -->
                <div class="col-lg-4 col-md-6 mix logo web graphic other wp">
                    <div class="single-portfolio" style="background-image: url(/assets/images/portfolio/img-2.jpg)">
                        <div class="portfolio-icon text-center">
                            <a data-lightbox='lightbox' href="/assets/images/portfolio/img-2.jpg"><i
                                    class="fas fa-expand-arrows-alt"></i></a>
                        </div>
                        <!-- <div class="portfolio-hover">
                            <h4>Project <span>Name</span></h4>
                        </div> -->
                    </div>
                </div>
                <!-- // Single Portfolio -->
                <!-- Single Portfolio -->
                <div class="col-lg-4 col-md-6 mix wp other">
                    <div class="single-portfolio" style="background-image: url(/assets/images/portfolio/img-3.jpg)">
                        <div class="portfolio-icon text-center">
                            <a data-lightbox='lightbox' href="/assets/images/portfolio/img-3.jpg"><i
                                    class="fas fa-expand-arrows-alt"></i></a>
                        </div>
                        <!-- <div class="portfolio-hover">
                            <h4>Project <span>Name</span></h4>
                        </div> -->
                    </div>
                </div>
                <!-- // Single Portfolio -->
                <!-- Single Portfolio -->
                <div class="col-lg-4 col-md-6 mix logo other graphic wp web">
                    <div class="single-portfolio" style="background-image: url(/assets/images/portfolio/img-4.jpg)">
                        <div class="portfolio-icon text-center">
                            <a data-lightbox='lightbox' href="/assets/images/portfolio/img-4.jpg"><i
                                    class="fas fa-expand-arrows-alt"></i></a>
                        </div>
                        <!-- <div class="portfolio-hover">
                            <h4>Project <span>Name</span></h4>
                        </div> -->
                    </div>
                </div>
                <!-- // Single Portfolio -->
                <!-- Single Portfolio -->
                <div class="col-lg-4 col-md-6 mix logo other wp graphic web">
                    <div class="single-portfolio" style="background-image: url(/assets/images/portfolio/img-5.jpg)">
                        <div class="portfolio-icon text-center">
                            <a data-lightbox='lightbox' href="/assets/images/portfolio/img-5.jpg"><i
                                    class="fas fa-expand-arrows-alt"></i></a>
                        </div>
                        <!-- <div class="portfolio-hover">
                            <h4>Project <span>Name</span></h4>
                        </div> -->
                    </div>
                </div>
                <!-- // Single Portfolio -->
                <!-- Single Portfolio -->
                <div class="col-lg-4 col-md-6 mix wp logo graphic web">
                    <div class="single-portfolio" style="background-image: url(/assets/images/portfolio/img-6.jpg)">
                        <div class="portfolio-icon text-center">
                            <a data-lightbox='lightbox' href="/assets/images/portfolio/img-6.jpg"><i
                                    class="fas fa-expand-arrows-alt"></i></a>
                        </div>
                        <!-- <div class="portfolio-hover other">
                            <h4>Project <span>Name</span></h4>
                        </div> -->
                    </div>
                </div>
                <!-- // Single Portfolio -->
                <!-- Single Portfolio -->
                <div class="col-lg-4 col-md-6 mix web wp">
                    <div class="single-portfolio" style="background-image: url(/assets/images/portfolio/img-7.jpg)">
                        <div class="portfolio-icon text-center">
                            <a data-lightbox='lightbox' href="/assets/images/portfolio/img-7.jpg"><i
                                    class="fas fa-expand-arrows-alt"></i></a>
                        </div>
                        <!-- <div class="portfolio-hover">
                            <h4>Project <span>Name</span></h4>
                        </div> -->
                    </div>
                </div>
                <!-- // Single Portfolio -->
                <!-- Single Portfolio -->
                <div class="col-lg-4 col-md-6 mix logo graphic wp web">
                    <div class="single-portfolio" style="background-image: url(/assets/images/portfolio/img-8.jpg)">
                        <div class="portfolio-icon text-center">
                            <a data-lightbox='lightbox' href="/assets/images/portfolio/img-8.jpg"><i
                                    class="fas fa-expand-arrows-alt"></i></a>
                        </div>
                        <!-- <div class="portfolio-hover">
                            <h4>Project <span>Name</span></h4>
                        </div> -->
                    </div>
                </div>
                <!-- // Single Portfolio -->
                <!-- Single Portfolio -->
                <div class="col-lg-4 col-md-6 mix other logo web">
                    <div class="single-portfolio" style="background-image: url(/assets/images/portfolio/img-9.jpg)">
                        <div class="portfolio-icon text-center">
                            <a data-lightbox='lightbox' href="/assets/images/portfolio/img-9.jpg"><i
                                    class="fas fa-expand-arrows-alt"></i></a>
                        </div>
                        <!-- <div class="portfolio-hover">
                            <h4>Project <span>Name</span></h4>
                        </div> -->
                    </div>
                </div>
                <!-- // Single Portfolio -->
            </div>
        </div>
    </section>
    <!-- ====== // Portfolio Section ====== -->

    <!-- ====== Frequently asked questions ====== -->
    <section class="section-padding faq-area bg-secondary">
        <div class="container">
            <!-- Section Title -->
            <div class="row justify-content-center">
                <div class="col-lg-6 ">
                    <div class="section-title text-center faq-title">
                        <h2>Frequently asked questions</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <!-- //Section Title -->
            <div class="row">
                <div class="col-lg-5">
                    <div class="faq-bg bg-img" style="background-image: url(/assets/images/faq.jpeg)"></div>
                </div>
                <div class="col-lg-7">
                    <!-- FAQ Content -->
                    <div class="faq-content" id="accordion">

                        <!-- Single FAQ -->
                        <div class="single-faq">

                            <!-- FAQ Header -->
                            <h4 class="collapsed" data-toggle="collapse" data-target="#faq-1">MISSION AND VISION</h4>
                            <!-- // FAQ Header -->

                            <!-- FAQ Content -->
                            <div id="faq-1" class="collapse show" data-parent="#accordion">
                                <div class="faq-body">
                                    Building a healthy nation that will stand the test of time and also meet up with the
                                    standard of other countries of the world is what I am looking to achieve for this
                                    nation because we are the giant of Africa and we need to prove it by what we do.
                                </div>
                            </div>
                            <!-- FAQ Content -->
                        </div>
                        <!-- // Single FAQ -->

                        <!-- Single FAQ -->
                        <div class="single-faq">

                            <!-- FAQ Header -->
                            <h4 class="collapsed" data-toggle="collapse" data-target="#faq-2">WHAT TO LOOK AT FOR</h4>
                            <!-- // FAQ Header -->

                            <!-- FAQ Content -->
                            <div id="faq-2" class="collapse" data-parent="#accordion">
                                <div class="faq-body">
                                    A reliable <br>
                                    Trust worthy<br>
                                    Compassionate<br>
                                    Peaceful<br>
                                    Vision driven leader<br>

                                </div>
                            </div>
                            <!-- FAQ Content -->
                        </div>
                        <!-- // Single FAQ -->

                        <!-- Single FAQ -->
                        <div class="single-faq">

                            <!-- FAQ Header -->
                            <h4 class="collapsed" data-toggle="collapse" data-target="#faq-3">MANIFESTION</h4>
                            <!-- // FAQ Header -->

                            <!-- FAQ Content -->
                            <div id="faq-3" class="collapse" data-parent="#accordion">
                                <div class="faq-body">
                                    Providing better roads facilities<br>
                                    Providing stable electricity through the use of advance technology through solar
                                    system<br>
                                    Providing good health facilities and structures<br>
                                    Providing good agricultural system and empowering our farmers<br>
                                    Providing employment for the youth by creating industries in various sectors <br>
                                    Providing better security service for the people<br>

                                </div>
                            </div>
                            <!-- FAQ Content -->
                        </div>
                        <!-- // Single FAQ -->

                    </div>
                    <!-- FAQ Content -->
                </div>
            </div>
        </div>
    </section>
    <!-- ====== // Frequently asked questions ====== -->


    <!-- ====== Footer Area ====== -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 text-center">
                    <div class="copyright-text">
                        <p class="text-white">&copy; 2022-2023 <a href="https://www.edcjob.com/">The Nigerian Project
                                2023</a></p>
                    </div>
                </div>
                <div class="col-lg-4">
                        <a target="_blank" href="https://web.facebook.com/Presidential2023"><i id="footer-fb" class="fab fa-facebook-f"></i></a>
                        <a target="_blank" href="#"><i id="footer-twitter" class="fab fa-twitter"></i></a>
                        <a target="_blank" href="https://www.instagram.com/thenigerianproject2023/"><i id="footer-instagram" class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- ====== // Footer Area ====== -->






    <!-- ====== ALL JS ====== -->
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/lightbox.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/jquery.mixitup.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/typed.js"></script>
    <script src="/assets/js/skill.bar.js"></script>
    <script src="/assets/js/fact.counter.js"></script>
    <script src="/assets/js/main.js"></script>

</body>

</html>